[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = {extras = ["dotenv", "email"], version = "*"}
asyncpg = "*"
tortoise-orm = "*"
passlib = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
fastapi-mail = "*"
jinja2 = "*"
aerich = "*"
python-dateutil = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.10"
